<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if current_page?(dashboard_path) %>"><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
    <li class="<%= 'active' if current_page?(dashboard_users_path) %>"><a href="/dashboard/users">Users List</a></li>
    <li class="<%= 'active' if current_page?(dashboard_spaces_path) %>"><a href="/dashboard/spaces">Spaces List</a></li>
    <!-- <li><a href="#">Export</a></li>
  </ul> -->
  <!-- <ul class="nav nav-sidebar">
    <li><a href="">Analytics</a></li>
  </ul> -->

</div>