<main class="page">
<div class="container col-md-offset-2 col-md-10">	
	<h1 class="space-action">Editing</h1>

	<%= render 'form' %>
</div>
	<%= link_to 'Show', @space %> |
	<%= link_to 'Back', spaces_path %>

</main>

