
<div class="profile-wrapper">
	<div class="person">
	  <div class="Media">
	    <img class="Media-figure" src="holder.js/300x300/social" alt="">
	    <div class="Media-body">
	      <h4 class="username"><%= @user.name %></h4>
	      <p>
	      	<span class="info">Reputation:</span>
	      	<%= rating_for @user, "reputation", :disable_after_rate => true, :cancel => false, :half_show => true %>
	      </p>
	      <p><span class="info">Email:</span><%= @user.email %></p>
	    </div>
	  </div>
	</div>
</div>