
<div class="profile-wrapper">
	<div class="person">
	  <div class="Media">
	    <img class="Media-figure" src="holder.js/300x300/social" alt="">
	    <div class="Media-body">
	      <h4 class="username"><%= @user.name %></h4>
	      <p><span class="info">Reputation:</span></p>
	      <p><span class="info">Email:</span><%= @user.email %></p>
	    </div>
	  </div>
	</div>
</div>