<div class="search-wrapper">

  <div class="search-panel">

    <form class="form-inline search-form">
      <select class="form-control formfield input-lg" style="display:inline">
          <option value="one">Toronto</option>
          <option value="two">New York</option>
          <option value="three">San Francisco</option>
      </select>
      <select class="form-control formfield input-lg" style="display:inline">
          <option value="one">$0 - 500</option>
          <option value="two">$501 - 1000</option>
          <option value="three">$1001 - 1500</option>
          <option value="four">$1501 - 2000</option>
          <option value="five">$2001 - 2500</option>
          <option value="six">$2501 - 3000</option>
          <option value="seven">$3001+</option>
      </select>
      <button type="submit" class="btn btn-default formfield input-lg" style="background: #E5E3E3"><i class="fa fa-search"></i></button>
    </form>

  </div>
</div>


<div class="spaces-display-wrapper">

  <%= render "spaces/listings" %>


</div>