<main class="page">
	<h1>Editing lease</h1>

    <div class="panel panel-default">
      <div class="panel-heading star-col">
		<%= render 'form' %>

		<%= link_to 'Show', @lease, class:"btn btn-default top-margin" %>
		<%= link_to 'Back', leases_path, class:"btn btn-default top-margin" %>
		</div>
	</div>
</main>


