/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 
 html,
 body {
   height: 100%;
   width: 100%;
   background: #fafafa;
 }

 footer{
 	bottom: 0px;
 	background-color: rgba(248,248,248, 1);
 	border-top: 1px solid #e7e7e7;
 	padding-top: 30px;
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 }

 a{
 	text-decoration: none;
 }

 a:hover{
 	text-decoration:none;
 	background: none;
 }

.page{
	width: 75%; 
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbotron{
	padding-left: 48px;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;	
}

.clearfix{
	clear: both;
}

.text-right{
	text-align: right;
}

.autoflow{
	overflow: auto;
}















