
/*
 * Base structure
 */

 .page-container{
   min-height: 80%;
   margin-top:56px;
 }

 .cover-heading{
  font: 4em 'Droid Serif', sans-serif;
  font-weight: 700;
  font-style: italic;
   
 }


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.splash-page{
  /* Links */
  a,
  a:focus,
  a:hover {
    color: #fff;
  }

  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: image-url('office.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  /* Extra markup and styles for table-esque vertical and horizontal centering */
  .site-wrapper {

    min-height: 500px;
    
    color: #fff !important;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    
    display: table;
    width: 100%;
    //height: 100%; /* For at least Firefox */
    //min-height: 100%;
    
  }
  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Padding for spacing */
  .inner {
    padding: 30px;
  }


  /*
   * Header
   */

  .masthead{
    position: fixed;
  }

  .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .masthead-nav > li {
    display: inline-block !important;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
  }

  @media (min-width: 768px) {
    .masthead-brand {
      float: left;
    }
    .masthead-nav {
      float: right;
    }
  }


  /*
   * Cover
   */

  .cover {
    padding: 0 20px;
    
    .lead{
      margin-top: 20px;
    }
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7 );
    color: #333;
  }

  /*
   * Footer
   */

  .mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
  }


  /*
   * Affix and center
   */

  @media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
      //position: fixed;
      top: 0;
    }
    .mastfoot {
      //position: fixed;
      bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
      vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 800px;
    }
  }
}

.search-wrapper{

  width: 100%;
  height: 125px;
  background-color: rgba(51, 51, 51, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  padding-top: 15px;
  padding-bottom: 15px;



  .search-panel{
    margin: auto;
    
    .formfield{
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-right: -5px;
    }
        
    .search-form:first-child{
      .formfield{
        //border-top-left-radius: 4px;
        //border-bottom-left-radius: 4px;
        margin-right: -5px;
      }
      
    }

    .search-form:last-child{
      .formfield{
        //border-bottom-right-radius: 4px;
        //border-top-right-radius: 4px;
      }
      
    }
  }

}