// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.space-title {
	font: italic 500 2em "Droid Serif",sans-serif;
	font-size: 16pt;
}

.space-text-box {
	max-width:400px;
	width: 400px;
	overflow: hidden;
	padding:20px;
}

.star-col {
	min-height: 64px;
}

.description {
	display: block;
	display: -webkit-box;
	max-width: 400px;
	height: 129.6px;
	margin: 0 auto;
	font-size: 12;
	line-height: 1.2;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom:20px;
}

.heading-spacer{
	padding-top: 15px;
	padding-bottom: 15px;
}

.top-margin {
	margin-top:10px
}

.bottom-margin {
	margin-bottom:10px
}

.space-photo{
	max-width: 100%;
}

.space-info-wrapper{
	padding-top: 30px;
	padding-bottom: 50px;
}


.space-wrapper{
	width: 80%;
	margin: auto;
	
	.space{
		padding-top: 30px;
		padding-bottom: 20px;
		.Media{
			.thumb{
				display:block;
				max-width:40%;
				max-height:200px;
				margin-right:30px;
			}
		}
	}

	
	
	.spacename{
		font: 2em 'Droid Serif', sans-serif;
		font-weight: 500;
		font-style: italic;
		margin:10px 0px;
	}

	.address{
		font: 1em sans-serif;
		font-weight: bold;
	}

	.info{
		font-weight: bold;
		margin:0px;
	}
}

.space-photo{
	width: 100%;
}

.photo-wrap{
	width: 300px;
	max-height: 250px;
	overflow: hidden;
	padding-right: 2em;
}

.Media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Media-figure {
  margin-right: 1em;
}

.Media-body {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
   p{
   	margin:0px;
   }
   
   padding-bottom: 30px;
}

