// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading-spacer{
	padding-top: 15px;
	padding-bottom: 15px;
}

.space-photo{
	max-width: 100%;
}

.space-info-wrapper{
	padding-top: 30px;
	padding-bottom: 50px;
}


.space-wrapper{
	width: 80%;
	margin: auto;
	
	.space{
		padding-top: 30px;
		padding-bottom: 20px;
		.Media{
			.thumb{
				display:block;
				max-width:40%;
				max-height:200px;
				margin-right:30px;
			}
		}
	}

	
	
	.spacename{
		font: 2em 'Droid Serif', sans-serif;
		font-weight: 500;
		font-style: italic;
		margin:10px;
	}

	.address{
		font: 1em sans-serif;
		font-weight: bold;
	}

	.info{
		font-weight: normal;
		font: 1em serif;
		margin:0px;
	}
}


.Media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Media-figure {
  margin-right: 1em;
}

.Media-body {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
   p{
   	margin:0px;
   }

   padding-bottom: 30px;
}

